
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-position: fixed;
  background: url(https://lh3.googleusercontent.com/x0pFPxR4FWBa6GBOpKen7PQZDc6he5JTeF8WtK9IkQG5aG3kXwW5vMHZoQcvdK5V-Wuv2c4-uGysHsdnRr7EwGfICtY6SlLMOhZztk87GWbP06mbSxK13xh0tFpE_iYl-l5dJr4dGw=w2400);
  background-position: center center;
  background-repeat: repeat;
  

  
}

@font-face {
  font-family: Outward;
  src: url(Tightrope-Regular.ttf);
}

h1 {
  font-family: Outward;
  color: aliceblue;
  font-size: 15rem;
  font-style: italic;
  
}

img {
  max-width: 100%;
}

.blogItem {
  width: 600px;
  padding: 30px;
  color: wheat;
  margin: 3rem auto;
  border: 3px white solid;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.blogItem h2 {
  margin: 2rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.blogItem p {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  
}

.blogItem:hover {
  scale: 1.1;
  transition: all 100ms ease-in;
}